<!doctype html>
<title>Insta p/ novas paginas</title>
<h2> <font size="40">Insta</font> <img src="static/insta.jpg" alt="insta"width="140"height="80"></h2>

<body>
	<div class="container">
		<form method="post" action="/scraper" enctype="multipart/form-data">
			<div class="form-group">
				<p>
					<label for="username">Username</label>
					<input type="text" name="username" id="username" required class="form-control">
				</p>
				<p>
					<label for="number">Number</label>
					<input type="text" name="number" id="number" required class="form-control">
				</p>
				<button type="submit" value="Submit">Submit</button>
			</div>
		</form>
	</div>
<body>